.gallery {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 0;

 
}

.gallery img {
    display: block;
    width: 400px;
    height: 100%;
    object-fit: cover;
}

